$font-family: Arial, Helvetica, sans-serif;
$text-gray: #9C9AA6;
$primary-color: #03a84e;
$background-color: #ffffff;
$text-color: #373737;
$border-color: #EEEEEE;
$error-color: #ff3860;
$search-color: #9C9AA6;
$search-placeholder-color: #b4b3c0;
$search-button-color: #FFFFFF;